<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~  This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~  You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org.
  -->
<ng-include
        src="'/public/pages/logistics/distribution/partials/record-facility-data.html'"></ng-include>
<div class="clearfix facility-container">
    <ng-include
            src="'/public/pages/logistics/distribution/partials/record-facility-menu.html'"></ng-include>

      <div class="facility-info" ng-init="facilityData = distribution.facilityDistributions[selectedFacilityId]">
        <div id="coverageContainer" class="refrigerator-container" disable-form="{{facilityData.isDisabled(null, distributionReview)}}">
          <h3>
            <span id="coverageHeader" openlmis-message="label.coverage.children"></span>
            <input id="childCoverageApplyNRAll" type="button" ng-click="applyNRAll()" class="pull-right btn"
                   openlmis-message="button.apply.nr.all" ng-if="!childCoverage.notRecordedApplied"/>
            <input id="childCoverageClearNRFromAll" type="button" ng-click="clearNRAll()" class="pull-right btn"
                   openlmis-message="button.clear.nr.all" ng-if="childCoverage.notRecordedApplied"/>
          </h3>

      <div id="childCoverageTable" class="parent facility-distribution-form-table coverage-table">
                <form auto-save="distribution" object-store="distributions">
          <table class="table table-bordered" fixed-table-header>
            <thead>
            <tr>
              <th class="col-complete-vaccinated" id="vaccination" rowspan="2"
                  openlmis-message={{columns.vaccination}}></th>
              <th class="col-complete-vaccinated" id="targetGroup" rowspan="2"
                  openlmis-message={{columns.targetGroup}}></th>
              <th class="col-complete-vaccinated" id="sex" rowspan="2"
                  openlmis-message={{columns.sex}} ng-if="!childCoverage.isOutdatedDistribution"></th>
              <th class="col-complete-vaccinated center-justified" id="childrenAgeGroup1" colspan="3"
                  openlmis-message={{columns.childrenAgeGroup0To11}}></th>
              <th class="col-complete-vaccinated" id="coverageRate" rowspan="2"
                  openlmis-message={{columns.coverageRate}}></th>
              <th class="col-complete-vaccinated center-justified" id="childrenAgeGroup2" colspan="3"
                  openlmis-message={{columns.childrenAgeGroup12To23}}></th>
              <th class="col-complete-vaccinated center-justified" id="childrenAgeGroup3" colspan="3"
                  openlmis-message={{columns.childrenAgeGroup9To11}}></th>
              <th class="col-complete-vaccinated" id="totalVaccination" rowspan="2"
                  openlmis-message={{columns.totalVaccination}}></th>
              <th class="col-complete-vaccinated" id="openedVials" rowspan="2"
                  openlmis-message={{columns.openedVials}}></th>
              <th class="col-complete-vaccinated" id="openedVialsWastageRate" rowspan="2"
                  openlmis-message={{columns.openedVialsWastageRate}}></th>
            </tr>
            <tr>
              <th class="col-complete-vaccinated" id="categoryOneHealthCenter"
                  openlmis-message={{columns.categoryOneHealthCenter}}></th>
              <th class="col-complete-vaccinated" id="categoryOneMobileBrigade"
                  openlmis-message={{columns.categoryOneMobileBrigade}}></th>
              <th class="col-complete-vaccinated" id="categoryOneTotal"
                  openlmis-message={{columns.categoryOneTotal}}></th>
              <th class="col-complete-vaccinated" id="categoryTwoHealthCenter"
                  openlmis-message={{columns.categoryTwoHealthCenter}}></th>
              <th class="col-complete-vaccinated" id="categoryTwoMobileBrigade"
                  openlmis-message={{columns.categoryTwoMobileBrigade}}></th>
              <th class="col-complete-vaccinated" id="categoryTwoTotal"
                  openlmis-message={{columns.categoryTwoTotal}}></th>
              <th class="col-complete-vaccinated" id="categoryThreeHealthCenter"
                  openlmis-message={{columns.categoryThreeHealthCenter}}></th>
              <th class="col-complete-vaccinated" id="categoryThreeMobileBrigade"
                  openlmis-message={{columns.categoryThreeMobileBrigade}}></th>
              <th class="col-complete-vaccinated" id="categoryThreeTotal"
                  openlmis-message={{columns.categoryThreeTotal}}></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lineItem in childCoverage.childCoverageLineItems">
              <td class="col-complete-vaccinated">
                <span id="col{{lineItem.vaccination}}" ng-bind-html="getHTMLFormattedVaccinationName(lineItem.vaccination)"></span>
              </td>
              <td class="col-complete-vaccinated col-target-group" id="target{{$index}}">
                <span ng-bind="lineItem.targetGroup"></span>
              </td>
              <td class="col-complete-vaccinated" id="sex{{$index}}" ng-if="!childCoverage.isOutdatedDistribution">
                <span class="row" ng-hide="lineItem.vaccination == 'HPV'">
                  <label openlmis-message="label.coverage.sex.male"></label>
                </span>
                <span class="row">
                  <label openlmis-message="label.coverage.sex.female"></label>
                </span>
              </td>
              <td class="col-complete-vaccinated">
                <span ng-hide="lineItem.vaccination == 'Sarampo 2a dose' || lineItem.vaccination == 'HPV'">
                  <span class="row" ng-if="!childCoverage.isOutdatedDistribution">
                    <input id="maleHealthCenter11Months{{$index}}" type="number"
                           ng-model="lineItem.maleHealthCenter11Months.value"
                           name="maleCoverageHealthCenter11Months{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="maleHealthCenter11MonthsError{{$index}}"
                           ng-class="{'required-error': !(lineItem.maleHealthCenter11Months.value.hasValue() ||
                           lineItem.maleHealthCenter11Months.notRecorded)}"/>
                    <span id="maleHealthCenter11MonthsError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                    <span class="span-not-recorded">
                      <input id="maleCoverageHealthCenter11Months{{$index}}" type="checkbox"
                             ng-model="lineItem.maleHealthCenter11Months.notRecorded"
                             not-recorded/>
                      <label class="checkbox-label" for="maleCoverageHealthCenter11Months{{$index}}"
                             openlmis-message="label.not.recorded"></label>
                    </span>
                  </span>
                  <span class="row" ng-if="!childCoverage.isOutdatedDistribution">
                    <input id="femaleHealthCenter11Months{{$index}}" type="number"
                           ng-model="lineItem.femaleHealthCenter11Months.value"
                           name="femaleCoverageHealthCenter11Months{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="femaleHealthCenter11MonthsError{{$index}}"
                           ng-class="{'required-error': !(lineItem.femaleHealthCenter11Months.value.hasValue() ||
                           lineItem.femaleHealthCenter11Months.notRecorded)}"/>
                    <span id="femaleHealthCenter11MonthsError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                    <span class="span-not-recorded">
                      <input id="femaleCoverageHealthCenter11Months{{$index}}" type="checkbox"
                             ng-model="lineItem.femaleHealthCenter11Months.notRecorded"
                             not-recorded/>
                      <label class="checkbox-label" for="femaleCoverageHealthCenter11Months{{$index}}"
                             openlmis-message="label.not.recorded"></label>
                    </span>
                  </span>
                  <span class="row" ng-if="childCoverage.isOutdatedDistribution">
                    <input id="totalHealthCenter11Months{{$index}}" type="number"
                           ng-model="lineItem.totalHealthCenter11Months.value"
                           name="coverageTotalHealthCenter11Months{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="totalHealthCenter11MonthsError{{$index}}"
                           ng-class="{'required-error': !(lineItem.totalHealthCenter11Months.value.hasValue() ||
                           lineItem.totalHealthCenter11Months.notRecorded)}"/>
                    <span id="totalHealthCenter11MonthsError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                    <span class="span-not-recorded">
                      <input id="coverageTotalHealthCenter11Months{{$index}}" type="checkbox"
                             ng-model="lineItem.totalHealthCenter11Months.notRecorded"
                             not-recorded/>
                      <label class="checkbox-label" for="coverageTotalHealthCenter11Months{{$index}}"
                             openlmis-message="label.not.recorded"></label>
                    </span>
                  </span>
                </span>
              </td>
              <td class="col-complete-vaccinated">
                <span ng-hide="lineItem.vaccination == 'Sarampo 2a dose' || lineItem.vaccination == 'HPV'">
                  <span class="row" ng-if="!childCoverage.isOutdatedDistribution">
                    <input id="maleOutreach11Months{{$index}}" type="number"
                           ng-model="lineItem.maleOutreach11Months.value"
                           name="maleCoverageOutreach11Months{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="maleOutreach11MonthsError{{$index}}"
                           ng-class="{'required-error': !(lineItem.maleOutreach11Months.value.hasValue() ||
                           lineItem.maleOutreach11Months.notRecorded)}"/>
                    <span id="maleOutreach11MonthsError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                    <span class="span-not-recorded">
                      <input id="maleCoverageOutreach11Months{{$index}}" type="checkbox"
                             ng-model="lineItem.maleOutreach11Months.notRecorded"
                             not-recorded/>
                      <label class="checkbox-label" for="maleCoverageOutreach11Months{{$index}}"
                             openlmis-message="label.not.recorded"></label>
                    </span>
                  </span>
                  <span class="row" ng-if="!childCoverage.isOutdatedDistribution">
                    <input id="femaleOutreach11Months{{$index}}" type="number"
                           ng-model="lineItem.femaleOutreach11Months.value"
                           name="femaleCoverageOutreach11Months{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="femaleOutreach11MonthsError{{$index}}"
                           ng-class="{'required-error': !(lineItem.femaleOutreach11Months.value.hasValue() ||
                           lineItem.femaleOutreach11Months.notRecorded)}"/>
                    <span id="femaleOutreach11MonthsError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                    <span class="span-not-recorded">
                      <input id="femaleCoverageOutreach11Months{{$index}}" type="checkbox"
                             ng-model="lineItem.femaleOutreach11Months.notRecorded"
                             not-recorded/>
                      <label class="checkbox-label" for="femaleCoverageOutreach11Months{{$index}}"
                             openlmis-message="label.not.recorded"></label>
                    </span>
                  </span>
                  <span class="row" ng-if="childCoverage.isOutdatedDistribution">
                    <input id="totalOutreach11Months{{$index}}" type="number"
                           ng-model="lineItem.totalOutreach11Months.value"
                           name="coverageTotalOutreach11Months{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="totalOutreach11MonthsError{{$index}}"
                           ng-class="{'required-error': !(lineItem.totalOutreach11Months.value.hasValue() ||
                           lineItem.totalOutreach11Months.notRecorded)}"/>
                    <span id="totalOutreach11MonthsError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                    <span class="span-not-recorded">
                      <input id="coverageTotalOutreach11Months{{$index}}" type="checkbox"
                             ng-model="lineItem.totalOutreach11Months.notRecorded"
                             not-recorded/>
                      <label class="checkbox-label" for="coverageTotalOutreach11Months{{$index}}"
                             openlmis-message="label.not.recorded"></label>
                    </span>
                  </span>
                </span>
              </td>
              <td class="col-complete-vaccinated col-total">
                <span id="total0{{$index}}"
                      ng-bind="getTotal11(lineItem)"></span>
              </td>
              <td class="col-complete-vaccinated col-coverage-rate">
                <span id="coverageRateCalculated{{$index}}"
                      ng-bind="getFormattedAsPercent(calculateCoverageRate(getTotal(lineItem.totalHealthCenter11Months, lineItem.totalOutreach11Months), lineItem.targetGroup))"></span>
              </td>
              <td class="col-complete-vaccinated">
                <span ng-hide="lineItem.vaccination == 'Polio (Newborn)' || lineItem.vaccination == 'IPV' || lineItem.vaccination == 'HPV'">
                    <span class="row" ng-if="!childCoverage.isOutdatedDistribution">
                      <input id="maleHealthCenter23Months{{$index}}" type="number"
                             ng-model="lineItem.maleHealthCenter23Months.value"
                             name="maleCoverageHealthCenter23Months{{$index}}" ng-trim=false
                             numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                             error-holder="maleHealthCenter23MonthsError{{$index}}"
                             ng-class="{'required-error': !(lineItem.maleHealthCenter23Months.value.hasValue() ||
                             lineItem.maleHealthCenter23Months.notRecorded)}"/>
                      <span id="maleHealthCenter23MonthsError{{$index}}"
                            class="rnr-form-error"
                            openlmis-message="error.number.only"
                            style="display: none"></span>
                      <span class="span-not-recorded">
                        <input id="maleCoverageHealthCenter23Months{{$index}}" type="checkbox"
                               ng-model="lineItem.maleHealthCenter23Months.notRecorded"
                               not-recorded/>
                        <label class="checkbox-label" for="maleCoverageHealthCenter23Months{{$index}}"
                               openlmis-message="label.not.recorded"></label>
                      </span>
                    </span>
                    <span class="row" ng-if="!childCoverage.isOutdatedDistribution">
                      <input id="femaleHealthCenter23Months{{$index}}" type="number"
                             ng-model="lineItem.femaleHealthCenter23Months.value"
                             name="femaleCoverageHealthCenter23Months{{$index}}" ng-trim=false
                             numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                             error-holder="femaleHealthCenter23MonthsError{{$index}}"
                             ng-class="{'required-error': !(lineItem.femaleHealthCenter23Months.value.hasValue() ||
                             lineItem.femaleHealthCenter23Months.notRecorded)}"/>
                      <span id="femaleHealthCenter23MonthsError{{$index}}"
                            class="rnr-form-error"
                            openlmis-message="error.number.only"
                            style="display: none"></span>
                      <span class="span-not-recorded">
                        <input id="femaleCoverageHealthCenter23Months{{$index}}" type="checkbox"
                               ng-model="lineItem.femaleHealthCenter23Months.notRecorded"
                               not-recorded/>
                        <label class="checkbox-label" for="femaleCoverageHealthCenter23Months{{$index}}"
                               openlmis-message="label.not.recorded"></label>
                      </span>
                    </span>
                    <span class="row" ng-if="childCoverage.isOutdatedDistribution">
                      <input id="totalHealthCenter23Months{{$index}}" type="number"
                             ng-model="lineItem.totalHealthCenter23Months.value"
                             name="coverageTotalHealthCenter23Months{{$index}}" ng-trim=false
                             numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                             error-holder="totalHealthCenter23MonthsError{{$index}}"
                             ng-class="{'required-error': !(lineItem.totalHealthCenter23Months.value.hasValue() ||
                             lineItem.totalHealthCenter23Months.notRecorded)}"/>
                      <span id="totalHealthCenter23MonthsError{{$index}}"
                            class="rnr-form-error"
                            openlmis-message="error.number.only"
                            style="display: none"></span>
                      <span class="span-not-recorded">
                        <input id="coverageTotalHealthCenter23Months{{$index}}" type="checkbox"
                               ng-model="lineItem.totalHealthCenter23Months.notRecorded"
                               not-recorded/>
                        <label class="checkbox-label" for="coverageTotalHealthCenter23Months{{$index}}"
                               openlmis-message="label.not.recorded"></label>
                      </span>
                    </span>
                </span>
              </td>
              <td class="col-complete-vaccinated">
                <span ng-hide="lineItem.vaccination == 'Polio (Newborn)' || lineItem.vaccination == 'IPV' || lineItem.vaccination == 'HPV'">
                    <span class="row" ng-if="!childCoverage.isOutdatedDistribution">
                      <input id="maleOutreach23Months{{$index}}" type="number"
                             ng-model="lineItem.maleOutreach23Months.value"
                             name="maleCoverageOutreach23Months{{$index}}" ng-trim=false
                             numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                             error-holder="maleOutreach23MonthsError{{$index}}"
                             ng-class="{'required-error': !(lineItem.maleOutreach23Months.value.hasValue() ||
                             lineItem.maleOutreach23Months.notRecorded)}"/>
                      <span id="maleOutreach23MonthsError{{$index}}"
                            class="rnr-form-error"
                            openlmis-message="error.number.only"
                            style="display: none"></span>
                      <span class="span-not-recorded">
                        <input id="maleCoverageOutreach23Months{{$index}}" type="checkbox"
                               ng-model="lineItem.maleOutreach23Months.notRecorded"
                               not-recorded/>
                        <label class="checkbox-label" for="maleCoverageOutreach23Months{{$index}}"
                               openlmis-message="label.not.recorded"></label>
                      </span>
                    </span>
                    <span class="row" ng-if="!childCoverage.isOutdatedDistribution">
                      <input id="femaleOutreach23Months{{$index}}" type="number"
                             ng-model="lineItem.femaleOutreach23Months.value"
                             name="femaleCoverageOutreach23Months{{$index}}" ng-trim=false
                             numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                             error-holder="femaleOutreach23MonthsError{{$index}}"
                             ng-class="{'required-error': !(lineItem.femaleOutreach23Months.value.hasValue() ||
                             lineItem.femaleOutreach23Months.notRecorded)}"/>
                      <span id="femaleOutreach23MonthsError{{$index}}"
                            class="rnr-form-error"
                            openlmis-message="error.number.only"
                            style="display: none"></span>
                      <span class="span-not-recorded">
                        <input id="femaleCoverageOutreach23Months{{$index}}" type="checkbox"
                               ng-model="lineItem.femaleOutreach23Months.notRecorded"
                               not-recorded/>
                        <label class="checkbox-label" for="femaleCoverageOutreach23Months{{$index}}"
                               openlmis-message="label.not.recorded"></label>
                      </span>
                    </span>
                    <span class="row" ng-if="childCoverage.isOutdatedDistribution">
                      <input id="totalOutreach23Months{{$index}}" type="number"
                             ng-model="lineItem.totalOutreach23Months.value"
                             name="coverageTotalOutreach23Months{{$index}}" ng-trim=false
                             numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                             error-holder="totalOutreach23MonthsError{{$index}}"
                             ng-class="{'required-error': !(lineItem.totalOutreach23Months.value.hasValue() ||
                             lineItem.totalOutreach23Months.notRecorded)}"/>
                      <span id="totalOutreach23MonthsError{{$index}}"
                            class="rnr-form-error"
                            openlmis-message="error.number.only"
                            style="display: none"></span>
                      <span class="span-not-recorded">
                        <input id="coverageTotalOutreach23Months{{$index}}" type="checkbox"
                               ng-model="lineItem.totalOutreach23Months.notRecorded"
                               not-recorded/>
                        <label class="checkbox-label" for="coverageTotalOutreach23Months{{$index}}"
                               openlmis-message="label.not.recorded"></label>
                      </span>
                    </span>
                </span>
              </td>
              <td class="col-complete-vaccinated col-total">
                <span id="total1{{$index}}"
                      ng-bind="getTotal23(lineItem)"></span>
              </td>
              <td class="col-complete-vaccinated">
                <span ng-if="lineItem.vaccination == 'HPV'">
                  <span class="row">
                    <input id="femaleHealthCenter9Years{{$index}}" type="number"
                           ng-model="lineItem.femaleHealthCenter9Years.value"
                           name="femaleCoverageHealthCenter9Years{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="femaleHealthCenter9YearsError{{$index}}"
                           ng-class="{'required-error': !(lineItem.femaleHealthCenter9Years.value.hasValue() ||
                           lineItem.femaleHealthCenter9Years.notRecorded)}"/>
                    <span id="femaleHealthCenter9YearsError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                    <span class="span-not-recorded">
                      <input id="femaleCoverageHealthCenter9Years{{$index}}" type="checkbox"
                             ng-model="lineItem.femaleHealthCenter9Years.notRecorded"
                             not-recorded/>
                      <label class="checkbox-label" for="femaleCoverageHealthCenter9Years{{$index}}"
                             openlmis-message="label.not.recorded"></label>
                    </span>
                  </span>
                </span>
              </td>
              <td class="col-complete-vaccinated">
                <span ng-if="lineItem.vaccination == 'HPV'">
                  <span class="row">
                    <input id="femaleOutreach9Years{{$index}}" type="number"
                           ng-model="lineItem.femaleOutreach9Years.value"
                           name="femaleCoverageOutreach9Years{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="femaleOutreach9YearsError{{$index}}"
                           ng-class="{'required-error': !(lineItem.femaleOutreach9Years.value.hasValue() ||
                           lineItem.femaleOutreach9Years.notRecorded)}"/>
                    <span id="femaleOutreach9YearsError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                    <span class="span-not-recorded">
                      <input id="femaleCoverageOutreach9Years{{$index}}" type="checkbox"
                             ng-model="lineItem.femaleOutreach9Years.notRecorded"
                             not-recorded/>
                      <label class="checkbox-label" for="femaleCoverageOutreach9Years{{$index}}"
                             openlmis-message="label.not.recorded"></label>
                    </span>
                  </span>
                </span>
              </td>
              <td class="col-complete-vaccinated col-total">
                <span id="total3{{$index}}"
                    ng-bind="getTotal9Y(lineItem)"></span>
              </td>
              <td class="col-complete-vaccinated col-total">
                  <span id="total2{{$index}}" ng-bind="getTotalVaccinations(lineItem)"></span>
              </td>
              <td class="col-complete-vaccinated opened-vials"
                  ng-hide="hideCell('{{lineItem.vaccination}}')"
                  rowspan="{{productsMap[lineItem.vaccination].rowSpan}}">
                  <div id="{{product | removeSpaces}}Container"
                       ng-repeat="product in productsMap[lineItem.vaccination].products">
                      <span id="{{product}}" ng-bind="product"></span>
                      <div>
                          <span class="position-relative">
                            <input id="openedVial{{$parent.$index}}{{$index}}" type="number"
                                   ng-model="openedVialMap[product].openedVial.value"
                                   name="coverageOpenedVial{{$parent.$index}}{{$index}}"
                                   numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                                   ng-trim=false error-holder="{{product}}OpenedVialError"
                                   ng-class="{'required-error': !(openedVialMap[product].openedVial.value.hasValue() ||
                                   openedVialMap[product].openedVial.notRecorded)}"/>
                            <span id="{{product}}OpenedVialError"
                                  class="rnr-form-error"
                                  openlmis-message="error.number.only"
                                  style="display: none"></span>
                          </span>
                      </div>
                      <input id="coverageOpenedVial{{$parent.$index}}{{$index}}" type="checkbox"
                             ng-hide="(product == 'Polio10' || product == 'Penta1')"
                             ng-model="openedVialMap[product].openedVial.notRecorded"
                             not-recorded/>
                      <label class="checkbox-label" for="coverageOpenedVial{{$parent.$index}}{{$index}}"
                             ng-hide="(product == 'Polio10' || product == 'Penta1')"
                             openlmis-message="label.not.recorded"></label>
                  </div>
              </td>
              <td class="col-complete-vaccinated col-opened-vial"
                  ng-hide="hideCell('{{lineItem.vaccination}}')"
                  rowspan="{{productsMap[lineItem.vaccination].rowSpan}}">
                <span id="wastageRateCalculated{{$index}}"
                      ng-bind="getFormattedAsPercent(calculateWastageRate(productsMap[lineItem.vaccination]))"></span>
              </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
