<!--
 ~ This program is part of the OpenLMIS logistics management information system platform software.
 ~ Copyright © 2013 VillageReach
 ~
 ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 ~  
 ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
 -->

<ng-include
  src="'/public/pages/logistics/distribution/partials/record-facility-data.html'"></ng-include>
<div class="clearfix facility-container">
  <ng-include
    src="'/public/pages/logistics/distribution/partials/record-facility-menu.html'"></ng-include>

  <div class="facility-info" ng-init="facilityData = distribution.facilityDistributions[selectedFacilityId]">
    <div class="refrigerator-container" disable-form="{{facilityData.isDisabled('epi-use')}}">
      <h3>
        <span id="epiUsePageHeader" openlmis-message="header.epi.use"></span>
        <input id="epiUseApplyNrAll" type="button" ng-click="applyNRAll()"
               class="pull-right btn"
               openlmis-message="button.apply.nr.all"/>
      </h3>

      <div class="clearfix"></div>
      <div class="alert alert-info" id="noLineItems"
           ng-hide="facilityData.epiUse.lineItems.length">
        <span openlmis-message="message.no.product.groups"></span>
      </div>

      <div id="epiUseTable" class="facility-distribution-form-table" tab-scroll bottom-offset="180"
           ng-show="facilityData.epiUse.lineItems.length">
        <form auto-save="distribution" object-store="distributions">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="col-doses" rowspan="2"
                  openlmis-message="header.epi.use.doses"></th>
              <th class="col-starting-stock" rowspan="2"
                  openlmis-message="header.epi.use.startingStock"></th>
              <th class="col-received" rowspan="2"
                  openlmis-message="header.epi.use.received"></th>
              <th class="col-total" rowspan="2"
                  openlmis-message="header.epi.use.total"></th>
              <th class="col-distributed" rowspan="2"
                  openlmis-message="header.epi.use.distributed"></th>
              <th class="col-loss center-justified" colspan="5"
                  openlmis-message="header.epi.use.lossesUnopenedStock"></th>
              <th class="col-ending-stock" rowspan="2"
                  openlmis-message="header.epi.use.endingStock"></th>
              <th class="col-number-stockout-days" rowspan="2"
                  openlmis-message="header.epi.use.numberOfStockoutDays"></th>
              <th class="col-expiration-date" rowspan="2"
                  openlmis-message="description.column.expiration.date"></th>
            </tr>
            <tr>
              <th class="col-loss-over-heated"
                  openlmis-message="header.epi.use.lossOverHeated"></th>
              <th class="col-loss-frozen"
                  openlmis-message="header.epi.use.lossFrozen"></th>
              <th class="col-loss-expired"
                  openlmis-message="header.epi.use.lossExpired"></th>
              <th class="col-loss-other"
                  openlmis-message="header.epi.use.lossOther"></th>
              <th class="col-total-losses"
                  openlmis-message="header.epi.use.totalLosses"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lineItem in facilityData.epiUse.lineItems"
                ng-controller="EpiUseRowController">
              <td class="col-doses">
                <span ng-bind="lineItem.productGroup.name"></span>
              </td>
              <td class="col-starting-stock">
                <div>
                  <span class="position-relative">
                    <input id="stockAtFirstOfMonthInput{{$index}}" type="number"
                           ng-model="lineItem.stockAtFirstOfMonth.value"
                           name="stockAtFirstOfMonth{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="stockAtFirstOfMonthError{{$index}}"
                           ng-class="{'required-error': !facilityData.isDisabled('epi-use') && !(lineItem.stockAtFirstOfMonth.value.hasValue() ||
                             lineItem.stockAtFirstOfMonth.notRecorded)}"/>
                    <span id="stockAtFirstOfMonthError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                  </span>
                </div>
                <input id="stockAtFirstOfMonth{{$index}}" type="checkbox"
                       ng-model="lineItem.stockAtFirstOfMonth.notRecorded"
                       not-recorded/>
                <label class="checkbox-label"
                       for="stockAtFirstOfMonth{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </td>
              <td class="col-received">
                <div>
                  <span class="position-relative">
                    <input id="receivedInput{{$index}}" type="number"
                           ng-model="lineItem.received.value"
                           name="received{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="receivedError{{$index}}"
                           ng-class="{'required-error': !facilityData.isDisabled('epi-use') && !(lineItem.received.value.hasValue() ||
                             lineItem.received.notRecorded)}"/>
                    <span id="receivedError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                  </span>
                </div>
                <input id="received{{$index}}" type="checkbox"
                       ng-model="lineItem.received.notRecorded"
                       not-recorded/>
                <label class="checkbox-label" for="received{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </td>
              <td class="col-total">
                <span ng-bind="getTotal()"></span>
              </td>
              <td class="col-distributed">
                <div>
                  <span class="position-relative">
                    <input id="distributedInput{{$index}}" type="number"
                           ng-model="lineItem.distributed.value"
                           name="distributed{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="distributedError{{$index}}"
                           ng-class="{'required-error': !facilityData.isDisabled('epi-use') && !(lineItem.distributed.value.hasValue() ||
                             lineItem.distributed.notRecorded)}"/>
                    <span id="distributedError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                  </span>
                </div>
                <input id="distributed{{$index}}" type="checkbox"
                       ng-model="lineItem.distributed.notRecorded"
                       not-recorded/>
                <label class="checkbox-label" for="distributed{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </td>
              <td class="col-loss-over-heated">
                <div>
                  <span class="position-relative">
                    <input id="lossOverHeatedInput{{$index}}" type="number"
                           ng-model="lineItem.lossOverHeated.value" ng-trim=false
                           name="lossOverHeated{{$index}}" numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="lossOverHeatedError{{$index}}"
                           ng-class="{'required-error': !facilityData.isDisabled('epi-use') && !(lineItem.lossOverHeated.value.hasValue() ||
                             lineItem.lossOverHeated.notRecorded)}"/>
                    <span id="lossOverHeatedError{{$index}}" class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                  </span>
                </div>
                <input id="lossOverHeated{{$index}}" type="checkbox"
                       ng-model="lineItem.lossOverHeated.notRecorded"
                       not-recorded/>
                <label class="checkbox-label" for="lossOverHeated{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </td>
              <td class="col-loss-frozen">
                <div>
                  <span class="position-relative">
                    <input id="lossFrozenInput{{$index}}" type="number"
                           ng-model="lineItem.lossFrozen.value" ng-trim=false
                           name="lossFrozen{{$index}}" numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="lossFrozenError{{$index}}"
                           ng-class="{'required-error': !facilityData.isDisabled('epi-use') && !(lineItem.lossFrozen.value.hasValue() ||
                             lineItem.lossFrozen.notRecorded)}"/>
                    <span id="lossFrozenError{{$index}}" class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                  </span>
                </div>
                <input id="lossFrozen{{$index}}" type="checkbox"
                       ng-model="lineItem.lossFrozen.notRecorded"
                       not-recorded/>
                <label class="checkbox-label" for="lossFrozen{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </td>
              <td class="col-loss-expired">
                <div>
                  <span class="position-relative">
                    <input id="lossExpiredInput{{$index}}" type="number"
                           ng-model="lineItem.lossExpired.value" ng-trim=false
                           name="lossExpired{{$index}}" numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="lossExpiredError{{$index}}"
                           ng-class="{'required-error': !facilityData.isDisabled('epi-use') && !(lineItem.lossExpired.value.hasValue() ||
                             lineItem.lossExpired.notRecorded)}"/>
                    <span id="lossExpiredError{{$index}}" class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                  </span>
                </div>
                <input id="lossExpired{{$index}}" type="checkbox"
                       ng-model="lineItem.lossExpired.notRecorded"
                       not-recorded/>
                <label class="checkbox-label" for="lossExpired{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </td>
              <td class="col-loss-other">
                <div>
                  <span class="position-relative">
                    <input id="lossOtherInput{{$index}}" type="number"
                           ng-model="lineItem.lossOther.value" ng-trim=false
                           name="lossOther{{$index}}" numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="lossOtherError{{$index}}"
                           ng-class="{'required-error': !facilityData.isDisabled('epi-use') && !(lineItem.lossOther.value.hasValue() ||
                             lineItem.lossOther.notRecorded)}"/>
                    <span id="lossOtherError{{$index}}" class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                  </span>
                </div>
                <input id="lossOther{{$index}}" type="checkbox"
                       ng-model="lineItem.lossOther.notRecorded"
                       not-recorded/>
                <label class="checkbox-label" for="lossOther{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </td>
              <td class="col-total-losses">
                <span ng-bind="getTotalLosses()"></span>
              </td>
              <td class="col-ending-stock">
                <div>
                  <span class="position-relative">
                    <input id="stockAtEndOfMonthInput{{$index}}" type="number"
                           ng-model="lineItem.stockAtEndOfMonth.value"
                           name="stockAtEndOfMonth{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,7" min="0" max="9999999" step="1"
                           error-holder="stockAtEndOfMonthError{{$index}}"
                           ng-class="{'required-error': !facilityData.isDisabled('epi-use') && !(lineItem.stockAtEndOfMonth.value.hasValue() ||
                             lineItem.stockAtEndOfMonth.notRecorded)}"/>
                    <span id="stockAtEndOfMonthError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                  </span>
                </div>
                <input id="stockAtEndOfMonth{{$index}}" type="checkbox"
                       ng-model="lineItem.stockAtEndOfMonth.notRecorded"
                       not-recorded/>
                <label class="checkbox-label"
                       for="stockAtEndOfMonth{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </td>
              <td class="col-number-stockout-days">
                <div>
                  <span class="position-relative">
                    <input id="numberOfStockoutDaysInput{{$index}}" type="number"
                           ng-model="lineItem.numberOfStockoutDays.value"
                           name="numberOfStockoutDays{{$index}}" ng-trim=false
                           numeric-validator="positiveInteger,2" min="0" max="99" step="1"
                           error-holder="numberOfStockoutDaysError{{$index}}"
                           ng-class="{'required-error': !facilityData.isDisabled('epi-use') && !(lineItem.numberOfStockoutDays.value.hasValue() ||
                             lineItem.numberOfStockoutDays.notRecorded)}"/>
                    <span id="numberOfStockoutDaysError{{$index}}"
                          class="rnr-form-error"
                          openlmis-message="error.number.only"
                          style="display: none"></span>
                  </span>
                </div>
                <input id="numberOfStockoutDays{{$index}}" type="checkbox"
                       ng-model="lineItem.numberOfStockoutDays.notRecorded"
                       not-recorded/>
                <label class="checkbox-label"
                       for="numberOfStockoutDays{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </td>
              <td class="expiration-date">
                <div>
                  <span class="expirationDateContainer position-relative">
                    <input id="expirationDateInput{{$index}}" type="text"
                           ng-model="lineItem.expirationDate.value"
                           name="expirationDate{{$index}}"
                           maxlength="7"
                           date-validator="date"
                           showError="lineItem.expirationDate.notRecorded"
                           error-holder="expirationDateError{{$index}}"
                           ng-class="{'required-error': !facilityData.isDisabled('epi-use') && !(lineItem.expirationDate.value ||
                             lineItem.expirationDate.notRecorded)}"/>
                    <span class="rnr-form-error"
                          id="expirationDateError{{$index}}"
                          style="display:none;"
                          openlmis-message="error.invalid.date.format"></span>
                  </span>
                </div>
                <input id="expirationDate{{$index}}" type="checkbox"
                       ng-model="lineItem.expirationDate.notRecorded"
                       not-recorded/>
                <label class="checkbox-label"
                       for="expirationDate{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
