<!--
 ~ This program is part of the OpenLMIS logistics management information system platform software.
 ~ Copyright © 2013 VillageReach
 ~
 ~  This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 ~
 ~  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 ~  You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org.
 -->
<ng-include src="'/public/pages/logistics/distribution/partials/record-facility-data.html'"></ng-include>
<div class="clearfix facility-container">
  <ng-include src="'/public/pages/logistics/distribution/partials/record-facility-menu.html'"></ng-include>

  <div class="facility-info" ng-init="facilityData = distribution.facilityDistributions[selectedFacility]">
    <div class="facility-visit-container">
      <h3>
        <span id="visitInformationLabel" openlmis-message="label.visit.information"></span>
      </h3>

      <form class="form-group" auto-save="distribution" object-store="distributions"
            disable-form="{{facilityData.isDisabled()}}">
        <div class="form-row clearfix">
          <label id="wasFacilityVisited"
                 openlmis-message="label.was.facility.visited|facilityData.facilityName|distribution.period.name"></label>

          <div>
            <input id="facilityVisitedYes" type="radio" ng-model="facilityData.facilityVisit.visited.value"
                   ng-value="true">
            <label for="facilityVisitedYes" class="radio-label" openlmis-message="label.yes"></label>
            <input id="facilityVisitedNo" type="radio" ng-model="facilityData.facilityVisit.visited.value"
                   ng-value="false">
            <label for="facilityVisitedNo" class="radio-label" openlmis-message="label.no"></label>
          </div>
        </div>

        <div ng-show="facilityData.facilityVisit.visited.value === true">
          <div class="form-row clearfix">
            <span id="visitDateContainer">
              <label for="visitDate" openlmis-message="label.visit.date"></label>
              <input id="visitDate" type="text" ui-date="{dateFormat: 'dd/mm/yy', changeYear: true, defaultDate: distribution.period.stringStartDate, beforeShowDay: beforeDatepickerShowDay}"
                     ui-date-format="yy-mm-dd"
                     readonly ng-model="facilityData.facilityVisit.visitDate.value"
                     ng-class="{'required-error': !facilityData.facilityVisit.visitDate.value}"/>
            </span>

            <span id="vehicleIdContainer">
              <label for="vehicleId" openlmis-message="label.vehicle.id"></label>
              <input id="vehicleId" maxlength="20" type="text" ng-model="facilityData.facilityVisit.vehicleId.value"/>
            </span>
          </div>

          <div class="form-row clearfix">
            <label id="wasStockouts"
                   openlmis-message="label.was.stockouts"></label>

            <div>
              <input id="stockoutsYes" type="radio" ng-model="facilityData.facilityVisit.stockouts.value"
                     ng-value="true">
              <label for="stockoutsYes" class="radio-label" openlmis-message="label.yes"></label>
              <input id="stockoutsNo" type="radio" ng-model="facilityData.facilityVisit.stockouts.value"
                     ng-value="false">
              <label for="stockoutsNo" class="radio-label" openlmis-message="label.no"></label>
            </div>
          </div>

          <div class="form-row clearfix" ng-show="facilityData.facilityVisit.stockouts.value === true">
            <div class="form-group stockouts-form">
              <div class="form-row clearfix">
                <label openlmis-message="label.stockouts.select"></label>
              </div>

              <div class="form-row clearfix">
                <input id="coldChainEquipmentFailure{{ $index }}" type="checkbox"
                       ng-model="facilityData.facilityVisit.stockoutCauses.coldChainEquipmentFailure"/>
                <label class="checkbox-label" for="coldChainEquipmentFailure{{ $index }}"
                       openlmis-message="label.stockouts.select.cold.chain.equipment.failure"></label>
              </div>
              <div class="form-row clearfix">
                <input id="incorrectEstimationNeeds{{ $index }}" type="checkbox"
                       ng-model="facilityData.facilityVisit.stockoutCauses.incorrectEstimationNeeds"/>
                <label class="checkbox-label" for="incorrectEstimationNeeds{{ $index }}"
                       openlmis-message="label.stockouts.select.incorrect.estimation.needs"></label>
              </div>
              <div class="form-row clearfix">
                <input id="stockoutZonalWarehouse{{ $index }}" type="checkbox"
                       ng-model="facilityData.facilityVisit.stockoutCauses.stockoutZonalWarehouse"/>
                <label class="checkbox-label" for="stockoutZonalWarehouse{{ $index }}"
                       openlmis-message="label.stockouts.select.stockout.zonal.warehouse"></label>
              </div>
              <div class="form-row clearfix">
                <input id="deliveryNotOnTime{{ $index }}" type="checkbox"
                       ng-model="facilityData.facilityVisit.stockoutCauses.deliveryNotOnTime"/>
                <label class="checkbox-label" for="deliveryNotOnTime{{ $index }}"
                       openlmis-message="label.stockouts.select.delivery.not.on.time"></label>
              </div>
              <div class="form-row clearfix">
                <input id="productsTransferedAnotherFacility{{ $index }}" type="checkbox"
                       ng-model="facilityData.facilityVisit.stockoutCauses.productsTransferedAnotherFacility"/>
                <label class="checkbox-label" for="productsTransferedAnotherFacility{{ $index }}"
                       openlmis-message="label.stockouts.select.products.transfered.another.facility"></label>
              </div>
              <div class="form-row clearfix">
                <input id="otherCause{{ $index }}" type="checkbox"
                       ng-model="facilityData.facilityVisit.stockoutCauses.other"/>
                <label class="checkbox-label" for="otherCause{{ $index }}"
                       openlmis-message="label.stockouts.select.other"></label>
              </div>
              <div class="form-row clearfix">
              <input ng-model="facilityData.facilityVisit.stockoutCauses.stockoutCausesOther"
                     id="otherCauseInput"
                     ng-show="facilityData.facilityVisit.stockoutCauses.other === true"
                     maxlength="140"
                     ng-class="{'required-error': !facilityData.facilityVisit.stockoutCauses.stockoutCausesOther}">
              </input>
              </div>
            </div>
          </div>

          <div class="form-row clearfix">
            <label id="wasReceived"
                   openlmis-message="label.was.received"></label>

            <div>
              <input id="receivedYes" type="radio" ng-model="facilityData.facilityVisit.received.value"
                     ng-value="true">
              <label for="receivedYes" class="radio-label" openlmis-message="label.yes"></label>
              <input id="receivedNo" type="radio" ng-model="facilityData.facilityVisit.received.value"
                     ng-value="false">
              <label for="receivedNo" class="radio-label" openlmis-message="label.no"></label>
            </div>
          </div>

          <div class="form-row clearfix" ng-show="facilityData.facilityVisit.received.value === true">
            <div class="form-group received-form">
              <div class="form-row clearfix">
                <label openlmis-message="label.received.select"></label>
              </div>

              <div class="form-row clearfix">
                <input id="anotherHealthFacility{{ $index }}" type="checkbox"
                       ng-model="facilityData.facilityVisit.receivedProducts.anotherHealthFacility"/>
                <label class="checkbox-label" for="anotherHealthFacility{{ $index }}"
                       openlmis-message="label.received.select.another.health.facility"></label>
              </div>
              <div class="form-row clearfix">
                <input id="zonalWarehouse{{ $index }}" type="checkbox"
                       ng-model="facilityData.facilityVisit.receivedProducts.zonalWarehouse"/>
                <label class="checkbox-label" for="zonalWarehouse{{ $index }}"
                       openlmis-message="label.received.select.zonal.warehouse"></label>
              </div>
              <div class="form-row clearfix">
                <input id="otherSource{{ $index }}" type="checkbox"
                       ng-model="facilityData.facilityVisit.receivedProducts.other"/>
                <label class="checkbox-label" for="otherSource{{ $index }}"
                       openlmis-message="label.received.select.other"></label>
              </div>
              <div class="form-row clearfix">
              <input ng-model="facilityData.facilityVisit.receivedProducts.receivedProductsSourcesOther"
                     id="otherSourceInput"
                     ng-show="facilityData.facilityVisit.receivedProducts.other === true"
                     maxlength="140"
                     ng-class="{'required-error': !facilityData.facilityVisit.receivedProducts.receivedProductsSourcesOther}">
              </input>
              </div>
            </div>
          </div>

          <div class="form-row clearfix">
            <label id="wasStockCardsUpToDate"
                   openlmis-message="label.was.stock.cards.up.to.date"></label>

            <div>
              <input id="stockCardsUpToDateYes" type="radio" ng-model="facilityData.facilityVisit.stockCardsUpToDate.value"
                     ng-value="true">
              <label for="stockCardsUpToDateYes" class="radio-label" openlmis-message="label.yes"></label>
              <input id="stockCardsUpToDateNo" type="radio" ng-model="facilityData.facilityVisit.stockCardsUpToDate.value"
                     ng-value="false">
              <label for="stockCardsUpToDateNo" class="radio-label" openlmis-message="label.no"></label>
            </div>
          </div>

          <div class="form-row clearfix">
            <label openlmis-message="label.observations"></label>
            <textarea id="observations" maxlength="1000"
                      ng-model="facilityData.facilityVisit.observations.value"></textarea>
          </div>
          <div class="signatures clearfix">
            <div class="details-container">
              <span openlmis-message="label.verified.by" class="list-header-container list-header"></span>

              <div>
                <label openlmis-message="label.name" for="verifiedByName"></label>
                <input type="text" maxlength="50"
                       ng-model="facilityData.facilityVisit.verifiedBy.name"
                       id="verifiedByName"/>
                <label openlmis-message="label.title" for="verifiedByTitle"></label>
                <input type="text" maxlength="50"
                       ng-model="facilityData.facilityVisit.verifiedBy.title"
                       id="verifiedByTitle"/>
              </div>
            </div>

            <div class="details-container">
                            <span openlmis-message="label.confirmed.by"
                                  class="list-header-container list-header"></span>

              <div>
                <label openlmis-message="label.name" for="confirmedByName"></label>
                <input type="text" maxlength="50"
                       ng-model="facilityData.facilityVisit.confirmedBy.name"
                       id="confirmedByName"/>
                <label openlmis-message="label.title" for="confirmedByTitle"></label>
                <input type="text" maxlength="50"
                       ng-model="facilityData.facilityVisit.confirmedBy.title"
                       id="confirmedByTitle"/>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row" ng-show="facilityData.facilityVisit.visited.value === false">
          <div class="form-group not-visit-reason-form">
            <div class="form-row clearfix">
              <label class="radio-label" openlmis-message="label.reason.for.no.visit"></label>
            </div>

            <div class="form-row clearfix">
              <input id="badWeather{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.badWeather}}"/>
              <label class="radio-label" for="badWeather{{ $index }}"
                     openlmis-message="label.bad.weather"></label>
            </div>
            <div class="form-row clearfix">
              <input id="noTransport{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.noTransport}}"/>
              <label class="radio-label" for="noTransport{{ $index }}"
                     openlmis-message="label.no.transport"></label>
            </div>
            <div class="form-row clearfix">
              <input id="facilityClosed{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.facilityClosed}}"/>
              <label class="radio-label" for="facilityClosed{{ $index }}"
                     openlmis-message="label.facility.closed"></label>
            </div>
            <div class="form-row clearfix">
              <input id="refrigeratorsNotWorking{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.refrigeratorsNotWorking}}"/>
              <label class="radio-label" for="refrigeratorsNotWorking{{ $index }}"
                     openlmis-message="label.refrigerators.not.working"></label>
            </div>
            <div class="form-row clearfix">
              <input id="noRefrigerators{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.noRefrigerators}}"/>
              <label class="radio-label" for="noRefrigerators{{ $index }}"
                     openlmis-message="label.no.refrigerators"></label>
           </div>
            <div class="form-row clearfix">
              <input id="unavailableFunds{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.unavailableFuelFunds}}"/>
              <label class="radio-label" for="unavailableFuelFunds{{ $index }}"
                     openlmis-message="label.unavailable.funds.fuel"></label>
            </div>
            <div class="form-row clearfix">
             <input id="unavailablePerDiemFunds{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.unavailablePerDiemFunds}}"/>
             <label class="radio-label" for="unavailablePerDiemFunds{{ $index }}"
                     openlmis-message="label.unavailable.funds.perdiem"></label>
            </div>
            <div class="form-row clearfix dontdisplay">
              <input id="notPartOfProgram{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.notPartOfProgram}}"/>
              <label class="radio-label" for="notPartOfProgram{{ $index }}"
                     openlmis-message="label.not.part.of.program"></label>
            </div>
            <div class="form-row clearfix">
              <input id="other{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value" value="{{reasons.other}}"
                     ng-click="facilityData.facilityVisit.otherReasonDescription.value = (facilityData.facilityVisit.reasonForNotVisiting.value === reasons.other ? facilityData.facilityVisit.otherReasonDescription.value : undefined)"/>
              <label class="radio-label" for="other{{ $index }}" openlmis-message="label.other"></label>
            </div>
            <div class="form-row clearfix">
              <textarea ng-model="facilityData.facilityVisit.otherReasonDescription.value"
                        id="otherTextBox"
                        ng-show="facilityData.facilityVisit.reasonForNotVisiting.value === reasons.other"
                        maxlength="255"
                        ng-class="{'required-error': !facilityData.facilityVisit.otherReasonDescription.value}">
              </textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
